/* Styles go here */

 .gu-mirror {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

md-chip {
  cursor: pointer;
  margin-bottom: 10px;
}
.md-chip-list-wrapper {
  min-height: 32px;
  margin-bottom: 10px;
  padding: 10px 10px 0 10px;
  background: #d6d6d6;
}

my-app {
	display: flex;
}

md-chip-list {
	width: 50%;
	padding: 10px;
}

md-chip-list:first-child {
	margin-right: 20px;
}