<form [formGroup]="myForm" (ngSubmit)="onSubmit(f)" #f="ngForm">
  <button
    style="margin-top:5px; margin-bottom:5px;"
    type="button"
    class="btn btn-primary btn-sm"
    (click)="addSkillGroup()"
  >
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add New
    Group
  </button>
  <div formArrayName="skillGroups">
    <div
      style="margin-top:5px; margin-bottom:5px;"
      *ngFor="let group of myForm.get('skillGroups').controls; let i = index"
    >
      <fieldset>
        <legend>
          <h4>
            Group {{ i + 1 }}:<button
              style="margin-left:35px;"
              type="button"
              class="btn btn-danger"
              (click)="deleteSkillArrs(i)"
            >
              <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
              Remove Group
            </button>
          </h4>
        </legend>
        <div [formGroupName]="i">
          <div class="form-inline">
            <div class="form-group">
              <button
                style="margin-right:5px;"
                type="button"
                class="btn btn-success btn-sm"
                (click)="addSkill(group.controls.skillArr)"
              >
                <span
                  class="glyphicon glyphicon-plus"
                  aria-hidden="true"
                ></span>
                Add New Skill
              </button>
            </div>
          </div>
          <div class="form-inline">
            <div class="form-group">
              <div formArrayName="skillArr" [(dragulaModel)]="group.get('skillArr').controls"
              dragula="M">
                <div
                  style="margin-top:5px; margin-bottom:5px;"
                  *ngFor="
                    let skill of group.get('skillArr').controls;
                    let j = index
                  "
                >
                  <div [formGroupName]="j">
                    <div class="form-group">
                      <input
                        formControlName="skillName"
                        class="form-control"
                        style="margin-right:5px;"
                        type="text"
                        placeholder="Skill"
                        id="skill"
                        name="skill"
                        required
                      />
                      <input
                        formControlName="years"
                        class="form-control"
                        style="margin-right:5px;"
                        type="number"
                        placeholder="Years"
                        id="years"
                        name="years"
                        required
                      />
                      <button
                        style="margin-right:5px;"
                        type="button"
                        class="btn btn-danger btn-sm"
                        (click)="deleteSkill(group.controls.skillArr, j)"
                      >
                        <span
                          class="glyphicon glyphicon-minus"
                          aria-hidden="true"
                          >Remove Skill</span
                        >
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </fieldset>
    </div>
  </div>

  <button [disabled]="myForm.invalid" type="submit" class="btn btn-success">
    Submit
  </button>
</form>

<pre>{{ myForm.value | json }}</pre>
