<div class="container-fluid">
  <form [formGroup]="myForm" (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="col-md-12">
      <div class="text-right mb-2">
        <button type="button" class="btn btn-primary" (click)="addSkillGroup()">
          Add Group
        </button>
      </div>
    </div>

    <div
      formArrayName="skillGroups"
      cdkDropList
      (cdkDropListDropped)="dropGroup($event)"
      [cdkDropListData]="this.data.skillGroups"
    >
      <div
        *ngFor="let group of myForm.get('skillGroups').controls; let i = index"
        [cdkDragData]="group"
        cdkDrag
      >
        <div [formGroupName]="i" class="flex_list group">
          <span class="oi oi-menu drag" cdkDragHandle></span>
          <div>
            <div>
              <div formArrayName="skillArr" class="flex">
                <div
                  *ngFor="
                    let skill of group.get('skillArr').controls;
                    let j = index
                  "
                  class="connectedSortable"
                >
                  <div [formGroupName]="j" class="flex">
                    <div>
                      <input
                        placeholder="Competence"
                        formControlName="skillName"
                        type="text"
                        id="skill"
                        name="skill"
                        required
                        class="input input__competence"
                      />
                    </div>
                    <div>
                      <input
                        placeholder="Years"
                        formControlName="years"
                        type="number"
                        id="years"
                        name="years"
                        required
                        class="input input__years"
                      />
                    </div>
                    <span
                      class="oi oi-x delete_skill"
                      (click)="deleteSkill(group.controls.skillArr, j)"
                      placement="left"
                    ></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="group_btn">
            <span
              class="oi oi-trash"
              (click)="deleteSkillArrs(i)"
              placement="left"
            ></span>
            <span
              class="oi oi-plus"
              (click)="addSkill(group.controls.skillArr)"
            ></span>
          </div>
        </div>
      </div>
    </div>

    <button [disabled]="myForm.invalid" type="submit" class="btn btn-primary">
      Save
    </button>
  </form>
  {{myForm.value | json}}
</div>
