<button (click)="addSkillsGroup()">Add new Skills Group</button><br /><br />
<form [formGroup]="myForm">
  <div formArrayName="skillsGroup">
    <div *ngFor="let temp of myForm.get('skillsGroup'); let i = index">
      <fieldset>
        <legend>
          <h3>Skills Group {{ i + 1 }}:</h3>
        </legend>
        <div [formGroupName]="i">
          <div formArrayName="skills">
            <div
              *ngFor="
                let property of temp.get('skills').controls;
                let j = index
              "
            >
              <fieldset>
                <legend>
                  <h4>Skills Array {{ j + 1 }}</h4>
                </legend>
                <div [formGroupName]="j">
                  <label>Skills Title:</label>
                  <input formControlName="title" />
                  <label>Skills Years:</label>
                  <input formControlName="years" />
                </div>
              </fieldset>
            </div>
            <button (click)="addSkillsArray(temp.controls.skillsGroup)">
              Add New Skill
            </button>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
  <br />
</form>

<pre>{{ myForm.value | json }}</pre>
