<button (click)="addNewTemplate()">Add Group</button><br /><br />
<form [formGroup]="myForm">
  <div formArrayName="group">
    <div *ngFor="let temp of myForm.get('group').controls; let i = index">
      <fieldset>
        <div [formGroupName]="i">
          <label>Group: </label>
          <input formControlName="group_title" />
          <div formArrayName="skills">
            <div
              *ngFor="
                let property of temp.get('skills').controls;
                let j = index
              "
            >
              <fieldset>
                <div [formGroupName]="j">
                  <label>Skill: </label>
                  <input formControlName="skill.title" />
                </div>
              </fieldset>
            </div>
            <button (click)="addNewProperty(temp.controls.skills)">
              Add Skill
            </button>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
  <br />
</form>

<pre>{{ myForm.value | json }}</pre>
