<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Skills</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <app-skills-create></app-skills-create>
</ng-template>

<app-skills-group></app-skills-group>

<div class="container" *ngFor="let group of groups">
  <h4>
    {{ group.title }}
  </h4>
  <div
    cdkDropList
    cdkDropListOrientation="horizontal"
    class="example-list"
    (cdkDropListDropped)="drop($event)"
    [cdkDropListData]="skills"
  >
    <div
      class="example-box"
      *ngFor="let skill of skills"
      [cdkDragData]="skill"
      cdkDrag
    >
      {{ skill.title }} / {{ skill.years }}
    </div>
    <button class="btn btn-lg btn-outline-primary" (click)="open(content)">
      Add
    </button>
  </div>
</div>
