
  <div class="wrap">
  <mat-form-field class="example-chip-list">
      <mat-chip-list #chipList>
        <div dragula="M" [(dragulaModel)]="fruits">

          <mat-chip
            *ngFor="let fruit of fruits"
            [selectable]="selectable"
            [removable]="removable"
            (removed)="remove(fruit)">
            {{fruit}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
        </div>
        <input

          #fruitInput
          [formControl]="fruitCtrl"
          [matAutocomplete]="auto"
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="addOnBlur"
          (matChipInputTokenEnd)="add($event)">
      </mat-chip-list>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
          {{fruit}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    {{fruits | json }}
    <br>
    <!-- <tag-input 
                         
                         
                         [onlyFromAutocomplete]='true'
                         identifyBy="id"
                         displayBy="name"
                         
                         [dragZone]="'zone1'"
                         [editable]="true"
                         
                         
                         >
                <tag-input-dropdown [autocompleteItems]="allFruits"
                                    identifyBy="id"
                                    displayBy="name">
                </tag-input-dropdown>
              </tag-input> -->
              <h3>Drag and drop</h3>
            <tag-input  [(ngModel)]="allFruits"
                        
                        [dragZone]="'zone1'"
                        [editable]="true">
                        <tag-input-dropdown [autocompleteItems]="allFruits">
                </tag-input-dropdown>
            </tag-input>
            {{allFruits | json}}
  </div>